* {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  /* outline: 1px solid red; */
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #eff7f6;
}

.app {
  background-color: #eff7f6;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100vh, auto height;
  max-width: 700px;
  overflow-y: auto;
}

header {
  padding: 5px 10px;
  background-color: #cdb4db;
  margin-bottom: 2em;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.btn-update {
  padding: 10px;
  background-color: #ffc8dd;
  border: none !important;
  border-radius: 5px;
  color: #ffffff;
  margin-left: 5px;
}

.todo {
  padding: 0 10px;
}

.newTodo {
  width: 280px;
  margin-bottom: 1em;
}

.text-todo {
  display: flex;
  gap: 5px;
}

.text-todo p {
  margin-bottom: 0;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input::placeholder {
  opacity: 0.4;
}

.main-todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#cdb4db, #ffc8dd);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 10px;
  margin-right: 2em;
}

.update-todo {
  margin-bottom: 1em;
}

.todo-btn {
  border: none;
  background: none;
  padding-right: 5px;
  cursor: pointer;
}
